

* {margin:0px; padding:0px;}

body {margin:0px; padding:0px; font-family: 'Montserrat', sans-serif; }

header {height:100vh;}
.top-bar-cover {background-color:#19ACC9;}
.top-bar {padding: 10px 15px;}
.top-bar i {font-size:1rem; color:white; }
.top-bar-contact {text-align:right; padding-right:20px;} 

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}

nav {box-shadow: unset !important; }
.navbar-brand img {width:50%;}
.navbar-expand-lg .navbar-nav .nav-link {color: black; font-size:0.9rem; padding-left:1.5rem;}

.banner {min-height:76vh;}
.banner .banner-image img {max-width:100%;}
/* .banner .banner-image {background-image: url(img/assets/assets/banner-img.png)} */
/*----------------------------------------------------------------------------------------------------------*/
